.step-desc {
    display: flex;
    gap: 35px;
    position: relative;
}

.circle-img {
    margin-right: 12px;
}

.step-label {
    color: #0E8750;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.step-desc img {
    margin-left: 14px;
    margin-top: -5px;
}

.step-desc__desc {
    color: #3F3F55;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    position: absolute;
    left: 50px;
}

.css-8t49rw-MuiStepConnector-line {
    min-height: 0px !important;
}